html {
    font-size: 25px;
}

header {
    text-align: center;
}

.calculator-container {
    display: flex;
    align-items: stretch;
}

.config-container {
    flex-grow: 1;
    flex-basis: 0;
    background-color: lightgray;
    padding: 1em;
    border: 0.1em solid black;
}

.display-container {
    flex-grow: 3;
    flex-basis: 0;
    padding: 1em;
    border: 0.1em solid black;
}

.display-column {
    vertical-align: top;
}

#values-list {
    column-count: 2;
    list-style-type: none;
}

.colored-li {
    background-color: lightgray;
}

li {
    padding: 0.5em;
}